
:root {
    --branding-color: #22223B;
    --secondary-branding-color: #4A4E69;
    --light-branding-color: #F2E9E4;
    --heading-font-family: 'Playfair Display', serif; 
    --default-font-family:'Poppins', sans-serif;
}
body {
    background-color: var(--light-branding-color);
}
h1 h2, h3, h4, h5, h6 {
    color: var(--branding-color);
    font-family: var(--heading-font-family);
    font-size: 36px;
font-weight: bold;
}

h1 {
    font-family: var(--heading-font-family);
    color: var(--branding-color);
    font-size:96px;
}
h2{
    font-size: 56px;
}

p{
    font-family: var(--default-font-family);
    font-weight:normal;
    font-size: 16px;
    line-height: 30px;
}

.hero{
    background: var(--secondary-branding-color);
    text-align:center;
    padding: 160px 20px;
}
.hero-title{
    color: var(--light-branding-color);
}
.project-title{
    color: var(--branding-color);
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
   color:#272142;
  
}
.hero h2{
    font-family:var(--default-font-family); 
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.btn-branding{
    background: var(--branding-color);
    color:var(--light-branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline{
    background: var(--secondary-branding-color);
    color:var(--light-branding-color);
    border: 1px solid var(--light-branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;

}

.project-description {
    padding: 120px 60px 0;
}
@media (max-width: 960px){
    h1{
        font-size: 44px;
        line-height:2;
    }
    h2{
        font-size: 44px;
    }
    .hero{
        padding: 80px 20px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
}

@media (min-width:960px) {
    .project-title{
        margin-top:-100px;
    }
    .react-image{
        margin-top: 30px;;
    }
}